li {
  list-style: none;
}

footer {
  font-size: 12px;
}

.container {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 25px;
}

.Wrapper {
  margin: 15px;
}

.Temperature {
  font-size: 48px;
  position: relative;
  top: 15px;
}

.Units {
  position: relative;
  top: -10px;
}

.Forecast {
  display: flex;
  justify-content: space-evenly;
}
